.customersContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 2rem;
}

.customersTitle {
    width: fit-content;
    margin: 1rem 0 1rem 2rem;
    color: #000;
    font-weight: bold
}

.customersWraper {
    padding-top: 1rem;
}